@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-l font-bold text-red50;
  }
  h2 {
    @apply text-l font-medium text-red50;
  }
  p {
    @apply text-m font-normal text-red50;
  }
}

html, body, #root {
  height: 100%;
  height: -webkit-fill-available;
}

html { 
  background-color: #0D0404; 
}